body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
}
.half-width-about{
    width: 50%;
    padding: 5%;
    text-align: left;
}
.half-width-about img{
    width: 62%;
   padding-left: 130px;
}
.gray-text{
    color: gray;
}
.about-me-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
#recipe-story{
    text-align: center;
    
    
}