body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    line-height: 10px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(58, 241, 150);
    

}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
    
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    

}
#diet-story{
    padding-bottom: 30px;
    color: gray;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
}
.half-width-about{
    width: 50%;
    padding: 5%;
    text-align: left;
}
.half-width-about img{
    width: 62%;
   padding-left: 130px;
}
.gray-text{
    color: gray;
}
.about-me-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
#recipe-story{
    text-align: center;
    width: 700px;
    
}
#story-area{
    display: flex;
    justify-content: center;
}
.recipe-name{
    width: 25%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px gray ;
}
.recipe-name img{
    width: 90%;
    padding: 8% ;

}
.image-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-cards{
    display: flex;
    justify-content: center;
}
.recipe-description{
    padding-left: 7% ;
    padding-right: 7%;
    text-align: justify;
}
footer{
    background-color: rgb(37, 37, 61);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 50px;
}